@model CQUCloudWeb.Models.Algorithm

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>查看算法</h2>

<div>
    <h4>Algorithm Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlgorithmName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlgorithmName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserNameID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserNameID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastCallTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastCallTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MonthCallCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonthCallCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
            请等待管理员审核
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DisplayType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisplayType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnvironmentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnvironmentType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContainerID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContainerID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AlgorithmId">编辑</a> |
    <a asp-action="Index">返回列表</a>
</div>
